
$primary: #95bf9b;
$secondary: #a39f60;
$dark: #0e0e0e;
body{
  background-color: red;
}

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "dark":       $dark
);
@import "bootstrap";
